.github
.history
.husky
coverage
.plop
_scraps
dist
node_modules
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.nvmrc
.prettierignore
index.html
vite.config.ts
yarn-error.log
yarn.lock
pnpm-lock.yaml
